<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sinabro"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ObjectDetectionActivity"/>
        <activity android:name=".bottomSheet.place.AddLocationInfoActivity" />
        <activity android:name=".bottomSheet.place.AddPlaceGuideActivity" />
        <activity android:name=".bottomSheet.place.PlaceListActivity" />
        <activity android:name=".sideBarMenu.authentication.SignUpStep1Activity" />
        <activity android:name=".sideBarMenu.authentication.SignUpStep2Activity" />
        <activity android:name=".sideBarMenu.authentication.SignInActivity" />
        <activity android:name=".sideBarMenu.authentication.ResetPasswordActivity" />
        <activity android:name=".sideBarMenu.devInfo.OpenSourceLicenseActivity" />
        <activity android:name=".sideBarMenu.settings.CheckPasswordActivity" />
        <activity android:name=".sideBarMenu.settings.ModifyMyInfoActivity" />
        <activity android:name=".sideBarMenu.settings.ModifyPasswordActivity" />
        <activity android:name=".sideBarMenu.settings.MyPageActivity" />
        <activity android:name=".sideBarMenu.settings.OurPoliciesActivity" />
        <activity android:name=".sideBarMenu.settings.SettingNotificationsActivity" />
        <activity android:name=".sideBarMenu.settings.WithdrawalStep1Activity" />
        <activity android:name=".sideBarMenu.settings.WithdrawalStep2Activity" />
        <activity android:name=".sideBarMenu.settings.UseServiceAgreementActivity" />
        <activity android:name=".sideBarMenu.settings.OthersUseUserInformationActivity" />
        <activity android:name=".sideBarMenu.settings.StoreUserInformationActivity" />
        <activity android:name=".sideBarMenu.settings.HandleUserInformationActivity" />
        <activity android:name=".sideBarMenu.bookmark.RemoveListActivity" />
        <activity android:name=".sideBarMenu.bookmark.AddNewListActivity" />
        <activity android:name=".sideBarMenu.bookmark.PlaceInListActivity" />
        <activity android:name=".bottomSheet.place.AddBookmarkToListActivity" />
        <activity android:name=".bottomSheet.place.RemoveBookmarkFromListActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="4507083e30991ba589ab3828da76bcf7" />
    </application>

</manifest>